
<ul class="sf-menu">
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end

				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>

				#if ($nav_item.hasChildren())
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li >
							#else
								<li>
							#end

								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
								#foreach ($nav_child2 in $nav_child.getChildren())
									#if ($nav_child2.isSelected())
										<li >
									#else
										<li>
									#end
		
										<a href="$nav_child2.getURL()" $nav_child2.getTarget()>$nav_child2.getName()</a>
									</li>
								#end
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
